[2016-03-21 05:36] migurski opened #2 "Tensorflow doesn't appear to work with Numpy 1.8 on OS X"
Got this error when importing tensorflow:

Installing the newest numpy (currently 1.10.4) made it behave.

[2016-03-21 06:07] #2 closed, assigned to nobody

[2016-03-21 06:23] brunosan opened #4 "Additional trainning set"
[NAIP](http://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-programs/naip-imagery/) offers free 1 meter resolution images for the whole CONUS. They are georectified .tiff files by state, but not on z/x/y.

Data is accessible as "requester pays" on `s3://aws-naip`.
- [ ] Is this an upgrade to the current training set? (NAIP also has NIR bands).
  - [ ] If so, I understand there

[2016-03-22 03:42] andrewljohnson commented on #4
I was talking with @JesseCrocker and he agreed NAIP's NIR band data is good for feature detection. I could see moving to a better data set pretty quick, the MQ data is old, crusty, and RGB.

It shouldn't be too hard to chop of that data to match the tiles, or get it all harmonious otherwise.

[2016-03-23 04:07] andrewljohnson opened #6 "todos needed to make this actually work"
Doodling about a production form of this, because the current version is like Proof-of-Proof-of-Concept, and I cut many obvious corners playing with TF and geodata.

Need to do to get this to work at all:
- ~~use NAIP instead of processed tiles, so we can get IR and better images in general (noted in issue #4)~~
  - ~~good notes on [using gdal and python to transform geotiffs into matrices](http:/

[2016-03-24 05:54] andrewljohnson opened #7 "don't delete tiles after chopping into thumbnails in marshall_osm_data.py"
I just did this for convenience. Script should keep the unchopped tiles around so you can re-chop without re-downloading.

corollary: don't download rasters/vectors if already downloaded

maybe separate download/prep steps + cache

[2016-03-24 16:58] andrewljohnson opened #8 "host on AWS, use multiple GPUs"
Here's a [FOSS repo doing TensorFlow on AWS using Docker](https://github.com/felixlaumon/docker-deeplearning). This is a familiar stack.

[Google Cloud also released their GPU offering recently](https://cloud.google.com/docs/google-cloud-platform-for-aws-professionals).

[2016-03-25 16:04] andrewljohnson opened #9 "handle 504s in tile downloads"
Traceback (most recent call last):
  File "label_chunks_cnn.py", line 109, in <module>
    odn.download_tiles()

[code]

urllib.error.HTTPError: HTTP Error 504: Gateway Time-out

[2016-03-31 23:08] andrewljohnson commented on #9
wont fix stuff for experiment 1, working on experiment 2

[2016-03-31 23:08] #9 closed, assigned to nobody

[2016-03-31 23:08] andrewljohnson commented on #7
wont fix stuff for experiment 1, working on experiment 2

[2016-03-31 23:08] #7 closed, assigned to nobody

[2016-04-11 03:38] andrewljohnson commented on #4
done

[2016-04-11 03:38] #4 closed, assigned to nobody

[2016-04-19 03:46] andrewljohnson commented on #6
vague

[2016-04-19 03:46] #6 closed, assigned to nobody

[2016-05-10 20:18] andrewljohnson opened #23 "import NAIP data into a postgres database"
Putting the data in Postgres seems like a good mid-game/end-game move. Do this after we put up deeposm.org, want to scale, and/or want to provide a place for researchers to run arbitrary experiments.

Benefits include:
- make rotating tiles easier (issue #24) - current pipeline could me modified too, but more hacky
- maybe easier to do bounding box queries, than if data is cached in a non-relation

[2016-05-10 20:30] andrewljohnson opened #24 "rotate training images"
## Benefits
- produce more training data
- make analysis more applicable using one data set to train, and another to set (less overfit locally and regionally/globally hopefully)
## Notes
- each rotation needs to be unique, so that the same image/label pair doesn't accidentally get put into both training and test data

[2016-05-10 20:34] andrewljohnson opened #25 "add training/label data for buildings"
The analysis could be simultaneously analyzing images for buildings, along with the road analysis it already does.
1. [download_labels.py](https://github.com/trailbehind/DeepOSM/blob/master/src/download_labels.py) needs to be extended to extract buildings, which isn't very hard
2. [way_bitmap_for_naip](https://github.com/trailbehind/DeepOSM/blob/master/src/create_training_data.py#L111) needs to be

[2016-05-10 20:37] andrewljohnson opened #26 "a freeway in DC isn't being labeled"
There is a major highway not getting drawn/labeled in DC in this NAIP:  m_3807708_se_18_1_20130924-20160510.jpeg

[2016-05-10 20:42] andrewljohnson commented on #26
![m_3807708_ne_18_1_20130924-20160509-222829](https://cloud.githubusercontent.com/assets/455551/15161918/132e41ce-16b5-11e6-8669-bc7e7cd78be3.jpeg)

[2016-05-10 20:50] andrewljohnson opened #27 "visualize training on TensorBoard"
The label_chunks_cnn (mnist) analysis doesn't do TensorBoard. The label_chunks_cnn_cifar (cifar10) does produce the necessary files.

This may just get closed as we throw away the initial, rudimentary analysis.

[2016-05-10 20:56] andrewljohnson opened #28 "thoughts on better neural net"
The current neural net uses something really made for handwritten digit classification (MNIST).

We could do stuff like use Alexnet instead, or implement the neural nets described in Mnih/Hinton too. Literature also describes using a sequence of pre and post processing neural nets, where you can fill in gaps in road networks.

Expanding on these vague comments, there is a whole body of literature

[2016-05-10 20:57] andrewljohnson opened #29 "classify cycleways and footways too"
The training data and analyses could be expanded to include cycleways and footways.

The current analysis can only do roads (or alternately tennis courts). There is also an open issue to add buildings: #25

[2016-05-10 20:59] andrewljohnson commented on #8
It would have been cool to use Google Cloud, but they don't seem to want to give any of us access.

[2016-05-10 21:07] andrewljohnson opened #30 "split data creation and analysis into separate Docker apps"
Currently, Dockerfile.devel-gpu inherits from GDAL Dockerfile, and then adds in both stuff needed for 1) data creation, and stuff needed for 2) analysis... including a nested stack of Tensorflow Dockerfiles that got copied in.
## Two Dockers - Data Creation and Data Analysis

It would be cleaner if one Dockerfile created training data and saved it to disk, and one Dockerfile used training data fro

[2016-05-10 22:54] andrewljohnson commented on #28
@lacker says to make a simpler neural net that works better with the given amount of IR training data, so the analysis overfits less.

Then expand the layers/data.

Don't just use some complicated neural net unsuited to the task.

[2016-05-10 22:56] lacker commented on #28
Yeah, I think you want to get to a state where "it works, just could be better" before scaling up. That way you can figure out how long you need to train, and keep params in a state where you don't overfit. I would try something real simple, like one convolution layer plus one softmax layer, and see if you can make it "work". By "work" I mean significantly better than random, like 80% accuracy, an

[2016-05-11 14:57] zain commented on #30
I like the API idea but we'd have to figure out a standardized way to structure the training data (for input into the data analysis dockerfile). I think you're still mucking with pickle/json/etc as the output of `create_training_data.py`, right?

Am I correct in my understanding that the structure of the training data is almost as important as the Tensorflow model itself?

[2016-05-11 18:35] silberman commented on #30
Working backwards, ultimately the Tensorflow models want 2 or 4 big ndarrays: train_input_features, train_labels, and in research mode you'll probably want a test_input_features and test_labels that ideally don't share too much with the training set.

Different models and experiments will want differently shaped versions of those.  Say you want to try training on the red-band + infrared-band, with

[2016-05-11 19:39] silberman commented on #30
Btw, Amazon's dsstne that was open-sourced yesterday uses NetCDF as their ndarray serialization format.  I don't think we should use either, though at some point that library may be part of the best way to train huge models on AWS.  (Right now though it doesn't support convolutions, is optimized for sparse data, and "emphasizing speed and scale over experimental flexibility.", which is not what we

[2016-05-12 16:27] zain commented on #30
@silberman: Why do you think we shouldn't use NetCDF4?

[2016-05-13 00:06] andrewljohnson commented on #28
I think we're now in a state of "works with the simplest network." A single relu or single convolutional relu with a maxpool.

[2016-05-13 00:18] #27 closed, assigned to nobody

[2016-05-13 00:21] andrewljohnson commented on #30
@silberman how about move your comments to this issue: https://github.com/trailbehind/DeepOSM/issues/23. (Move/delete from here?)

I think this is a separate ticket.

[2016-05-13 00:24] #28 closed, assigned to nobody

[2016-05-13 04:18] silberman commented on #23
...we provide a function where you could say "give me 40,000 random tiles from within these long,lat bounding boxes, and label them using these labeller functions I want to try", and that would be fast.

(A "labeller" function being something that takes a long,lat bounding box and returns some numpy array, with simple ones that return 1:1 arrays of one of the RGBI bands, or more complex ones like

[2016-05-13 04:35] silberman commented on #30
@zain Oh I've just never used NetCDF4 before, but now looking into it a bit it looks great for this actually.

So instead of "/data/experiment17", we have a NetCDF group and a data loading function that knows how to handle an experiment name and turn it into the 4 numpy arrays tensorflow wants.  (We may want to divide up into train/test groups as well before serializing, depending on the experimen

[2016-05-13 13:31] zain commented on #8
Ok, here we go. I have a script that can be run on a fresh `g2.2xlarge` instance with Ubuntu 14.04 to bring it up to speed running Python 2.7, Tensorflow 0.8 w/ GPU support, using CUDA 7.5 and cuDNN v5-rc. Everything is installed using package managers and not compiled from source by hand, which is especially impressive if you consider it's using the latest versions of gdal and pylibosmium.

[code

[2016-05-13 13:34] zain commented on #8
Now, a couple of questions for you all:
- do you think I should add docker on top of all this? I think we get most of the benefits of docker (reusable, disposable) from AMIs, without having to debug another layer when something goes wrong.
- what's the next step here, so you can start using it? Want me to share the AMI?

[2016-05-13 15:54] zain commented on #23
@silberman: what format would you use for the postgis database? Just whatever osm2pgsql or imposm spits out?

[2016-05-13 16:27] andrewljohnson commented on #8
1. If we don't use Docker, won't that mean we have to maintain multiple
   builds - one for AWS, one+ for local dev on Linux/Mac?
2. Is next step to be able to log in and run this?

   python bin/create_training_data.py
   python bin/run_analysis.py

Then I could compare the performance and experience to my Linux box, start
getting fidelity on how our AWS lab might feel to a user.

@silberman like

[2016-05-13 17:18] zain commented on #8
1. I dunno. If we use docker, we'll need to maintain a build to install docker on ubuntu, and have to agree on some way to deploy containers. So I think we'll need a separate build for ubuntu no matter what -- either to install DeepOSM or to install docker. Correct me if you disagree here.
2. Yup, I'm running those two commands right now and debugging any errors that arise. (edit: done! both those

[2016-05-13 18:30] andrewljohnson opened #33 "explain how NAIPs are indexed on the S3 bucket"
I don't understand how I can make an index of the NAIP bucket on S3. The parameters are as follows: ['md', '2013', '1m', 'rgbir', '38077']

I understand all the parameters but the last one... I assume that is some sort of grid or ordinal ID.

If I knew what the final parameter was, I could write a script to get training data from any state/year. Now it's limited to a certain place in Maryland, aro

[2016-05-13 18:37] silberman commented on #23
Not sure, and very open to suggestions.  This will be my first time using postgis.  Planning to spend some time on this over the weekend, so I'll know a lot more then.

[2016-05-13 18:49] andrewljohnson commented on #23
How about:

1) skip postgis
2) use the Overpass API, hosted by some friendly Germans:
http://overpass-api.de/
3) write a method to query Overpass for roads for a bounding box (i.e. NAIP
bounding box)
4) throw away my PBF munging code
5) enjoy the ease of not having OSM data locally

[2016-05-13 19:00] brunosan commented on #33
AFAIK this is the [FIPS code](https://en.wikipedia.org/wiki/FIPS_county_code), as stated on the [appendix [page 18] here](https://www.fsa.usda.gov/Internet/FSA_File/naip-to-3-14-1_amend1.pdf)...

[2016-05-13 19:01] andrewljohnson commented on #33
Thanks @brunosan 👍

[2016-05-13 19:33] zain commented on #23
I don't know anything about Overpass but we just want an API for OSM data,
Mapzen also has a great vector tiles API (that's what I used for my initial
experiments). However, getting OSM data already takes a while and adding a
bunch more HTTP queries would make it longer. I think a
persistent postgis database would make things faster instead of slower.

It's also nice because that means we can spin

[2016-05-13 19:39] andrewljohnson commented on #23
1) The only real pain I see is setting it up... and I fear there is some
sort of maintenance required but can't quantify that fear.

2) I think doing bounding box queries against Overpass will be really
fast... waaaaaay faster than the current local PBF parser. It will also
remove the time to download the PBF files and extract the ways. Instead,
you do one bounding box query per NAIP I think, whic

[2016-05-13 20:39] zain commented on #23
How much parsing of the PBFs are we doing? Are they state-level PBFs and we do a full parse for each bounding box?

[2016-05-13 20:52] andrewljohnson commented on #23
The current parse works like this:

* open N state-level PBFs
* make a giant list of all the ways involved in the analysis (i.e. highways, but later building too, or cycleways/footways)
* for each NAIP, loop over list and isolate ways that intersect the NAIP, and convert to bitmap

[2016-05-13 21:05] andrewljohnson opened #34 "pep8 the repo, make spacing a consistent 4 spaces"

[2016-05-13 21:06] andrewljohnson opened #35 "run tests automatically on pull requests"
Is Travis something free for FOSS projects?

Also, is it worth enforcing pep8 as a test on PRs?

[2016-05-13 21:27] riordan commented on #35
Yes and yes

[2016-05-14 15:48] zain commented on #34
Since this will overwrite a _ton_ of lines in the repo, we should coordinate to do this when there's no outstanding branches (to avoid merge conflicts).

[2016-05-14 15:49] zain commented on #35
Do we have any tests?

[2016-05-14 15:52] zain commented on #35
Gave a shot at this ticket, but it looks like I need admin rights on this repo to do anything w/ travis.

[2016-05-14 16:22] andrewljohnson commented on #35
FTFY, you're an admin now.

I thought our first test would be enforcing pep8 :)

[2016-05-14 16:23] #29 closed, assigned to nobody

[2016-05-14 16:23] andrewljohnson commented on #34
fire away, PR merged

[2016-05-14 18:54] zain opened #39 "Set up an Overpass server, use this instead of PBF munging"
I'm going to spin up a `t2.small` EC2 instance, install Overpass, and load the `north-america-latest.osm.bz2` OSM extract from geofabrik.de into it.

[2016-05-14 19:28] zain commented on #23
Ok. opened up #39 to set up an Overpass server to try it out.

[2016-05-14 22:30] #34 closed, assigned to zain

[2016-05-14 22:31] #35 closed, assigned to zain

[2016-05-15 22:02] brunosan commented on #33
Btw, I noticed that at the linked USDA page on the wiki article you can get plain text codes, but I couldn't find the matching example above.

[2016-05-15 22:18] andrewljohnson commented on #33
The codes in the filenames were not matching up to FIPS as far as I could tell, so I was wondering what was up.

Maybe this is moot though. I think the NAIPs need to be downloaded to get exact geo information. I don't think even the FIPS code and other filename info could be mapped to a good bounds for each file.

I think I'll change the scripts to work with any given US state (plus year) for now.

[2016-05-17 04:25] #33 closed, assigned to nobody

[2016-05-17 04:45] andrewljohnson opened #41 "incomplete NAIP data"
Exists:
- Iowa, 2013
- Delaware, 2013
- Maine, 2013

Missing:
- Massachusetts, 2013
- NewHampshire, 2013
- Rhode Island, 2013
- Oregon, 2013

I thought I'd start a list, probably [other missing bits as alluded to in this Github issue](https://github.com/mapbox/s3pay/issues/1).

[2016-05-25 06:56] andrewljohnson opened #45 "thoughts on roadmap - start with Delaware"
## Improve Delaware OSM

Let’s get Delaware OSM improver running first, because:
- it’s useful
- focuses dev efforts on product/launch
- tees up further work
### Launch Requirements
- **front-end**
  - two react views, fed by Django
    - list view of potential OSM errors
    - click in list view to show details for an error (a map view and a button to goto OSM to edit)
- **analysis - quick and di

[2016-05-29 21:12] #45 closed, assigned to nobody

[2016-05-29 21:19] andrewljohnson commented on #39
It seems like a good production solution could be:
1. this Overpass instance
2. RDS instance with NAIP data, plus app to manage it?
3. Tensorflow analyzer
4. an app for deeposm.org (web app for OSM review/edit).

Apps 1 & 2 provide an API to app 3, which publishes data to S3 for app 4 to imbibe into its own Django Postgres?

How do we orchestrate that in production I guess is a question too?

[2016-05-29 21:26] andrewljohnson commented on #8
It seems like a good production solution could be:
1. Overpass instance - #39
2. RDS instance with NAIP data, plus separate Docker app to fill/edit the DB? - #23
3. Tensorflow analyzer - split as own app, per #30
4. an app for deeposm.org - web app for OSM review/edit - which I'm working on

Apps 1 & 2 provide an API to app 3, which publishes data to S3 for app 4 to imbibe into its own Django Post

[2016-06-01 09:53] Firefishy opened #47 "Offer of additional imagery sources"
I run a number of imagery sites... You are welcome to use any of them.
- http://aerial.openstreetmap.org.za/
  Aerial imagery 15cm RGB. Sourced from the South African mapping agency [National Geo-spatial Information (NGI)](http://www.ngi.gov.za/). Permissive usage policy, attribution required.
  TMS Tile URL: `http://[a|b|c].aerial.openstreetmap.org.za/ngi-aerial/{zoom}/{x}/{y}.jpg`
  Projection:

[2016-06-01 19:16] andrewljohnson opened #48 "sources of lidar data to augment RGB-IR analysis"
Literature indicates lidar helps a great deal with road/building classification (and also with obscured footpaths?)

Here are some sources to consider:
- There is a complete set of SF lidar data: http://wiki.openstreetmap.org/wiki/San_Francisco_Building_Height_Import
- Maryland also provides some data. URL?

[2016-06-01 19:35] talllguy commented on #48
I've been using the following services in Maryland mapping. All geographic data is free from license by default in Maryland under the law. http://lidar.salisbury.edu/arcgis/rest/services/ShadedRelief

[2016-06-01 19:36] batCoder95 opened #49 "New Contributor"
Hey Guys, I am B.Tech. CS graduate and I have been working on image processing since 1.5 years. I would like to contribute to this project. Can anyone assign me some task, doesn't matter how simple or tough ?

[2016-06-01 19:38] talllguy commented on #48
## Examples

### Roads and Rails

![pasted image at 2016_06_01 02_26 pm](https://cloud.githubusercontent.com/assets/1827881/15723047/9d6541d4-280e-11e6-9ca8-3111648b72dd.png)
![pasted image at 2016_06_01 02_27 pm](https://cloud.githubusercontent.com/assets/1827881/15723048/a0be3ea8-280e-11e6-996c-0c4dde1c58e0.png)

### Wooded Trails

See the trails on the imagery? Me either.
![pasted image at 2016

[2016-06-01 23:55] andrewljohnson commented on #49
@batCoder9395 do you think you can extend the analysis to buildings?

This would require 1) extracting the buildings polygons from OSM data, 2) shading in the inside of the polygons when creating the bitmap representation of the building data, 3) adding a parameter to bin/create_training_data.py. Some polygons have holes too, so there is a little thinking required to shade the bitmap.

I think the

[2016-06-02 06:13] batCoder95 commented on #49
Hey Andrew,
I read that DeepOSM can run on Mac and Linux. I am a windows user. Is there any way around this ?

[2016-06-02 06:14] andrewljohnson commented on #49
Never tried, but Docker should be good on Windows. If it works on Windows, please do a PR on the README.

[2016-06-03 05:36] andrewljohnson opened #50 "convert a geotiff pixel to EPSG 3857"
I'm having a hard time projecting pixels on the naip tiffs, into EPSG 3857. [The flawed method is here](https://github.com/trailbehind/DeepOSM/blob/feature/deeposm.org/src/geo_util.py#L39).

[I asked a question on GIS Stack Exchange to explain](http://gis.stackexchange.com/questions/195935/given-a-raster-geotiff-how-can-i-convert-a-pixel-to-epsg3857-coordinates). Any help?

[2016-06-03 05:53] andrewljohnson commented on #50
nm, that method was fine, error was up the chain... fixed

[2016-06-03 05:53] #50 closed, assigned to nobody

[2016-06-04 04:52] andrewljohnson commented on #49
closing this now, let me know if you have questions on buildings!

[2016-06-04 04:53] #49 closed, assigned to nobody

[2016-06-04 18:51] Firefishy commented on #47
I have updated the initial message with more detail. If you have any specific questions, feel free to message me.

[2016-06-10 05:30] andrewljohnson opened #54 "database/models for deeposm.org (to import errors)"
## Finding Model

[code]

Most props are self-explanatory, and:
- solved_date - gets set if deeposm.org gets a new import from the same NAIP, which doesn't include that tile (makes some assumptions about the pipeline... like we will always tile NAIPs the same)
- raster_tile_x, raster_tile_y - used to determine if a finding is solved
- flagged_count - track how many people flag a prediction, to hid

[2016-06-22 16:31] #54 closed, assigned to nobody

[2016-06-22 16:32] andrewljohnson commented on #39
merging with other infrastructure issues

[2016-06-22 16:32] #39 closed, assigned to zain

[2016-06-22 16:32] andrewljohnson commented on #30
merging with other infrastructure issues

[2016-06-22 16:32] #30 closed, assigned to nobody

[2016-06-22 16:33] andrewljohnson commented on #23
merging with other infrastructure issues

[2016-06-22 16:33] #23 closed, assigned to nobody

[2016-06-22 16:34] andrewljohnson commented on #8
- I need to get my head around this code and get my work moved to AWS
- merging with other infrastructure issues

[2016-06-22 16:34] #8 closed, assigned to zain

[2016-06-22 16:35] andrewljohnson commented on #26
stale, closing - there are other issues with how PBFs are handled too

[2016-06-22 16:35] #26 closed, assigned to nobody

[2016-06-22 16:45] andrewljohnson opened #59 "automate/improve infrastructure"
This issue describes how deeposm works now. Then it describes changes needed to improve the infrastructure. Also see notes/scripts on these issues: #8, #23, #30, and #39 (these issues were closed to merge with this issue, not completed).
## Test Data and Training
- one app does both the data prep, and neural net training
- it uses a GPU/Tensorflow on a Linux box in my office
- findings are then up

[2016-06-22 16:50] anandthakker commented on #59
@andrewljohnson have you considered OSM QA Tiles?

[2016-06-22 16:55] andrewljohnson commented on #59
@anandthakker I'm probably wrong, but I decided it doesn't really help me to use "tiled" data, because my source imagery isn't projected to Mercator, or tiled into a TMS pyramid?

When I did my first run at this, I used Mapzen vector tiles, plus TMS imagery tiles (since they align). But when I switched to NAIPs, it seemed to make more sense (less code) to clip some line strings to the bounds of my

[2016-06-22 17:02] anandthakker commented on #59
Ah -- yeah, I see what you mean.  I went the tiled route for `skynet-data` basically because between existing tiled satellite source (Mapbox Satellite, DG, etc.) and OSM QA tiles, I figured I could skip a lot of the work.  Since you've already handled chopping up the NAIP images, I agree that using tiles provides less of a benefit...  Although, I guess _one_ upside to going the tiled route would b

[2016-07-10 04:04] andrewljohnson opened #61 "todos in progress"
## In Progress
## Ideas
- set aside validation images, when doing a state run (single_layer_network.py)
- pickle models between runs
- use same model through all states?
- show view/fix-click count in table
## Done
- ~~get cron going~~
- ~~dates on solved bugs on deeposm.org~~
- ~~make openstreetmap and way_bitmaps strings constant in config~~
- ~~remove trails - http://www.deeposm.org/road-regist

[2016-07-13 01:12] Hjy20255 opened #63 "INSTALL ISSUES"
hi~
I have installed a docker  but cd /DeepOSM-master  make dev  then  run  python bin/create_training_data.py  ,i have a error : File "bin/create_training_data.py", line 6, in <module>
    from src.training_data import download_and_serialize  ImportError: No module named src.training_data
can you give me  a detailed tutorial

[2016-07-13 05:11] andrewljohnson commented on #63
- What operating system are you using?
- Can you please paste in all of your terminal input/output as a comment on this issue, starting with the initial clone of the repo, and cd into the directory?

[2016-07-22 03:59] brandongalbraith commented on #59
Have you considered running the analysis at Digital Ocean and pushing the results into S3 from there? The compute at DO is significantly cheaper than at AWS.

[2016-07-22 04:00] andrewljohnson commented on #59
@brandongalbraith The analysis runs at home on a Linux box I have.

also: I might try out some Google ML infrastructure, just got my invite yesterday.

[2016-07-22 04:05] brandongalbraith commented on #59
@andrewljohnson

Sorry about that! I inferred from above:

that the analysis was planned to run in AWS. Happy to help break everything apart to scale it out, my day gig is devops/infrastructure.

[2016-07-22 04:54] andrewljohnson commented on #59
@brandongalbraith i realized that after I answered too fast :)

I guess the right answer is I hadn't much thought about it.

[2016-07-25 07:01] antran89 opened #65 "I think there is errata in "false positives" words"
I think the word "false positive" in README file:

It is not correct usage. According to [wiki](https://en.wikipedia.org/wiki/False_positives_and_false_negatives), it should be false negative. I hope you do not mind if I have this issue.
Best regards,

[2016-07-25 17:08] andrewljohnson commented on #65
Hmmm.. I think this is correct nomenclature. It's saying the OSM data itself has a false positive... i.e. OSM says a road exists, and DeepOSM says that's false.

I would consider a false negative in the OSM data to be where OSM is missing a road where one should exist.

[2016-07-25 17:08] #65 closed, assigned to nobody

[2016-08-01 17:49] Skylion007 commented on #48
What changes to the codebase would be necessary to add the ability to add height data? I would love to experiment training with it to see how much improvement we get.

[2016-08-01 18:35] andrewljohnson commented on #48
Mostly just setting up the download of some elevation data. Once you packed
it into the training matrices, it would just sort of work without having to
change the analysis meaningfully. It'd be like having a 5th band of data
for the image, and you can already configure the analysis on the command
line to use any combination of R+G+B+IR, so now you'd just be able to do it
for R+G+B+IR+E

On Mon, Au

[2016-08-02 15:33] Hjy20255 commented on #63
ubuntu16.04  first  i had install  tensorflow
1. install a Docker Binary.
2.git DeepOSM CODE
3.cd DeepOSM   make dev   have some errors
ConnectionError: HTTPSConnectionPool(host='storage.googleapis.com', port=443): Max retries exceeded with url: /tensorflow/linux/cpu/tensorflow-0.8.0-cp27-none-linux_x86_64.whl (Caused by <class 'socket.error'>: [Errno 101] Network is unreachable)
The command '/bin

[2016-08-02 17:20] andrewljohnson commented on #63
@Hjy20255
1. you shouldn't have to install tensorflow, docker does it as part of make dev
2. It looks like you got a network error when docker tried to download tensorflow, which caused make dev to fail. Check your internet connection.
3. It won't work to call python bin/create_training_data.py unless make dev works successfully and puts you inside the docker machine

[2016-08-02 17:20] #63 closed, assigned to nobody

[2016-08-08 00:31] CloCkWeRX opened #67 "Deeposm.org UI: Add "Flag as fixed" control"
#59 talks a bit about "The scripts to gather data, train, and upload findings should run on a cycle, not manually when I press a button".

A simple 'this has been fixed' control could easily flag things for reassessment, or at least tag the record as probably fixed / shift it to another list.

[2016-08-08 18:16] andrewljohnson commented on #67
Hmm, I think I'll get the cron job working this week, so this won't be necessary. I'm loathe to add extra buttons to the UI unless I feel it's strongly needed.

Also, a human verifying it's fixed on OSM takes some work, and I'd be afraid people would mix up whether it's flagged as wrong or fixed.

[2016-08-08 18:16] #67 closed, assigned to nobody

[2016-08-25 06:41] FatCache opened #69 "Posssible to work with Google Earth Imagery"
Is it possible instead of using NAIPS which is mentioned in "AWS Credential" step?

[2016-09-03 12:04] bhack commented on #25
For building and urban areas see also benchmarks and state of the art in http://www2.isprs.org/commissions/comm3/wg4/results.html

[2016-09-09 14:59] Hjy20255 commented on #63
hi ~
1. cd  DeepOSM   make dev
 Removing intermediate container 05289652859f
Successfully built eb7605e08e33
docker run -v `pwd`:/DeepOSM \
               -w /DeepOSM \
               -e CPLUS_INCLUDE_PATH=/usr/include/gdal \
               -e C_INCLUDE_PATH=/usr/include/gdal \
               -e AWS_ACCESS_KEY_ID= \
               -e AWS_SECRET_ACCESS_KEY= \
               -it deeposm /bin/bash
2.

[2016-09-18 13:26] Hjy20255 opened #70 "Fail to run train_neural_net.py"
“For output, DeepOSM will produce some console logs, and then JPEGs of the ways, labels, and predictions overlaid on the tiff.”
i run train_neural_net.py successfully . but there no JPEGs of the ways, labels, and predictions overlaid on the tiff.

[2016-09-30 20:14] jiankang1991 commented on #63
I also have the same problem `OSError: [Errno 2] No such file or directory: '/DeepOSM/data/generated/'`

Have you solved it?

[2016-10-06 08:12] rdelassus opened #71 "Paths issues"
The code on the master branch doesn't work, there are paths issues.
Those issues seems to be solved in the unmerged pull request.
I merged the PR in my fork of the project, but more issues arose.

[2016-12-15 20:53] Bibi56 commented on #69
In theory, probably yes but this imagery can't be used to enhance OpenStreetMap as it's owned by Big Brother.

[2017-01-16 14:40] FatCache commented on #69
Makes sense.

On 16-Dec-16 1:53 AM, Bibi56 wrote:

[2017-01-19 05:10] sahil210695 opened #72 "Getting Error while training the neural net !!!"
1. Installed the Docker
2. make dev command executed successfully.
3. after that when I'm executing the python bin/create_training_data.py I'm getting some errors like :

!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
    An unexpected error has occurred.
  Please try reproducing the error using
  the latest s3cmd code from the git master
  branch found at:
    https://github.com/s3tools/s3cmd
  and ha

[2017-01-23 05:03] wmaiouiru commented on #72
@sahil210695

I had some other problem with s3cmd and I was able to resolve the problem by reinstalling it and re-configuring it. I am also on macOS Sierra.
http://askubuntu.com/questions/38692/how-does-one-remove-applications-installed-through-python-setup-py-install

[2017-01-30 04:38] #69 closed, assigned to nobody

[2017-01-30 04:39] #61 closed, assigned to nobody

[2017-01-30 05:42] andrewljohnson commented on #72
Not sure what the issue is here, but it seemed to be related to s3cmd configuration, closing for now.

[2017-01-30 05:42] #72 closed, assigned to nobody

[2017-01-30 05:42] andrewljohnson commented on #71
merged and fixed up that branch, works for me now

[2017-01-30 05:42] #71 closed, assigned to nobody

[2017-01-30 06:40] andrewljohnson commented on #70
I fixed this in this commit: https://github.com/trailbehind/DeepOSM/commit/3362bfb5e92c1865b1c377748d0eb63ebce4feb4

I want to clean this up a bit before I merge it to master.

[2017-02-10 04:13] sahil210695 commented on #72
@andrewljohnson I'm not able to download the images from the AWS and I got the third party site for doing the same but I am not getting how to put those images and in which directory.
link of the side which is providing the NAIP images
link: [https://f5f3hkneq5.execute-api.us-east-1.amazonaws.com/prod/de/2013/1m/rgbir](url)
please tell me how i can download the images or anyone can give me the ima

[2017-02-10 16:05] andrewljohnson commented on #72
I'm sorry, I don't know what's going wrong for you.

On Thu, Feb 9, 2017 at 8:13 PM, Sahil Kumar <notifications@github.com>
wrote:

[2017-02-11 13:12] sahil210695 commented on #72
@andrewljohnson can you provide me the image directory because I'm not able to download the images for the Delaware thru AWS getting the error that I mentioned in the first post.
So that at least I can check how it is working.

[2017-02-11 21:10] andrewljohnson commented on #70
fixed by 3362bfb

[2017-02-11 21:10] #70 closed, assigned to nobody

[2017-02-11 21:10] andrewljohnson commented on #72
Sorry, I can't help.

[2017-02-12 02:46] Hjy20255 commented on #70
Thank  you!  I have resolved the problem.

[2017-02-13 21:35] jmontrose opened #74 "gdal version mismatch?"
Looks like the gdal swig binary is out of sync with newer python bindings?  I'm running this inside the non-gpu docker image.  I gather the GNM bits are relatively new, so it makes sense that they'd get hit.

[code]

Also, I've tried going straight to https://hub.docker.com/r/homme/gdal/ and I can't reproduce there.

I'm wondering if one of the apt-get installs brought along an out-of-date gdal bi

[2017-02-14 18:57] andrewljohnson commented on #74
Thanks for opening the issue, I get the same thing on my mac.

Are you able to do a PR to fix this?

On Mon, Feb 13, 2017 at 1:35 PM, Jesse Montrose <notifications@github.com>
wrote:

[2017-02-14 19:12] jmontrose commented on #74
I don't know how to fix it yet, still finding my way around.
Any guidance?  I'm happy to poke around some more!

[2017-02-14 20:16] andrewljohnson commented on #74
Fixed just now with dc89093

[2017-02-14 20:16] #74 closed, assigned to nobody

[2017-02-15 09:20] sahil210695 commented on #72
Getthing this while running the **train_neural_net.py**

WARNING:tensorflow:Error encountered when serializing data_augmentation.
Type is unsupported, or the types of the items don't match field type in CollectionDef.
'NoneType' object has no attribute 'name'
WARNING:tensorflow:Error encountered when serializing summary_tags.
Type is unsupported, or the types of the items don't match field type in

[2017-02-16 14:15] sahil210695 opened #75 "Getting warning while Training neural net"
Getthing this while running the train_neural_net.py

WARNING:tensorflow:Error encountered when serializing data_augmentation.
Type is unsupported, or the types of the items don't match field type in CollectionDef.
'NoneType' object has no attribute 'name'
WARNING:tensorflow:Error encountered when serializing summary_tags.
Type is unsupported, or the types of the items don't match field type in Col

[2017-02-17 22:55] andrewljohnson commented on #75
Is this an error or just a warning?

And is this when running using a GPU or without a GPU?

[2017-02-18 01:58] sahil210695 commented on #75
After this the training stopped, so I'll take that as error.
This while running without the GPU on MacBook pro with macOS Sierra.

[2017-02-19 22:29] jmontrose commented on #74
That fixed it, thanks! 👍

[2017-02-19 22:46] jmontrose commented on #75
Maybe just need to update tflearn?  This looks fixed upstream: https://github.com/tflearn/tflearn/issues/523

[2017-02-20 06:48] sahil210695 commented on #75
@jmontrose @andrewljohnson  can you explain a bit more ?
because the in the docker version of the tensorflow is 0.8

[2017-02-20 18:12] jmontrose commented on #75
@sahil210695 are you pointing out that the issue in tflearn#523 seems to be coming from tf 0.12.0 compatibility?  That's a good point.  I found that issue trying to track down the source of the message itself (meaning to dump a stack trace)
I'll keep looking, and if you have any ideas I can help test, send them over!
Oh, and although I do get the same error reported by @andrewljohnson , I do see t

[2017-02-20 18:15] sahil210695 commented on #75
But I'm not getting it.
I'm stuck there only and results are not also generated after that also.
are you able to get the results @jmontrose
previously docker came with tensorflow version 0.8.0, now I've upgraded it to version 0.10 and TFLearn is 0.1
and this is mine
drwxr-xr-x     12 sahilkumar  staff   408B Feb 20 21:34 .
drwxr-xr-x      6 sahilkumar  staff   204B Feb 12 22:20 ..
-rw-r--r--@

[2017-02-21 08:19] sahil210695 commented on #75
@andrewljohnson I'm not getting the output except these warnings. could you please tell me how to check for output ???

[2017-02-21 17:57] jmontrose commented on #75
Here is my data/way_bitmaps dir.  Looks like it's failing before it renders the jpegs?

[code]

[2017-02-21 18:00] sahil210695 commented on #75
@jmontrose
Here is my data/way_bitmaps dir.

root@4881763ee755:/DeepOSM/data/generated# find way_bitmaps/
way_bitmaps/
way_bitmaps/.DS_Store
way_bitmaps/38075
way_bitmaps/38075/m_3807503_ne_18_1_20130907.tif-ways.bitmap.npy
way_bitmaps/38075/m_3807503_nw_18_1_20130907.tif-ways.bitmap.npy
way_bitmaps/38075/m_3807503_se_18_1_20130907.tif-ways.bitmap.npy
way_bitmaps/38075/m_3807503_sw_18_1_20130907.t

[2017-02-24 10:49] andrewjavao opened #77 "Cannot download NAIP images on s3 using boto"
I‘ve configurated s3cfg, and i can download naip image via s3cmd fine, but when running bin/create_training_data.py, it ends up 403 error when downloading naip images.

[2017-02-24 17:29] andrewljohnson commented on #77
That sounds like when running s3cmd within the Docker/script, your credentials are not being used.

Did you export your AWS credentials per the README?

[2017-02-24 17:34] sahil210695 opened #78 "Getting the import error"
python bin/run_analysis.py
Traceback (most recent call last):
File "bin/run_analysis.py", line 7, in
from src.run_analysis import analyze, render_results_as_images
File "/DeepOSM/src/run_analysis.py", line 6, in
import label_chunks_cnn_cifar
File "/DeepOSM/src/label_chunks_cnn_cifar.py", line 11, in
import tflearn
File "/usr/local/lib/python2.7/dist-packages/tflearn/init.py", line 21, in
from .lay

[2017-02-24 17:36] andrewljohnson commented on #78
That looks like an old fork.

I suggest you delete your installed code, clone the top-level repo (this one), and try again.

[2017-02-24 17:36] #78 closed, assigned to nobody

[2017-02-24 17:37] sahil210695 commented on #78
ya but i want solution for that !! @andrewljohnson

[2017-02-24 21:31] aman2304 commented on #41
California, 2013 is missing too.

[2017-02-27 01:30] andrewjavao commented on #77
I put the credentials into .s3cfg file right way inside the container, without setting docker container's environment parameter.
Maybe that is the problem, I'll try. I saw naip_images.py overwrites AWS credentials in .s3cfg with env-value in function configure_s3cmd(). Since I can download via s3cmd inside the container, so I modified the downloading code a little bit myself(just for debugging), I

[2017-02-27 02:07] andrewjavao commented on #77
I followed the README, and export AWS credentials before runing the container and it works just fine. My bad.

[2017-02-27 02:07] #77 closed, assigned to nobody

[2017-02-27 05:00] andrewjavao commented on #75
I met this issue also, ran the container on Linux CentOS 7, no GPU.
Since I'm new to tflearn and tensorFlow, so I have no clue about this, so any process for you guys?
I'm looking into python code here for more information myself, it seems like some data format and library version compatiblity issue to me, but no not quite sure if this is the right direction.

[2017-02-27 06:36] sahil210695 commented on #75
@andrewjavao No success till now.
I am also looking into the python code and let's see where we can get.
It's issue with TFLearn with tensorflow.

[2017-03-01 11:59] andrewjavao commented on #75
@andrewljohnson We've been stuck in this issue for weeks, have u somehow figure it out?

[2017-03-08 01:35] andrewjavao opened #79 "Pillow version is low, cause error when saving JPEG files"
I met this error when I rendering findings to JPEG, using `render_results_for_analysis` method in file `src/training_visualization.py`, traceback:
`Wrong JPEG library version: library is 90, caller expects 80`
`Traceback (most recent call last):`
`  File "upload_data.py", line 31, in <module>`
`    main()`
`  File "upload_data.py", line 27, in main`
`    render_findings(raster_data_paths, model, t

[2017-03-08 01:41] andrewljohnson commented on #79
I was investigating #75 this weekend, and I decided:

a) there is an issue saving JPEGSs (probably this issue here)
b) the warning displayed in console under #75 is unrelated and maybe mostly
harmless

I consider this issue to be important... it sucks that the JPEGs aren't
rendering. This is my top priority for fixing.

On Tue, Mar 7, 2017 at 5:35 PM, andrewjavao <notifications@github.com>
wrote:

[2017-03-08 01:42] andrewljohnson commented on #79
Please open this as a separate issue and let's discuss: "btw, Since deeposm.org site no longger exists, so can you provide codes that generates local website contents? Is there ways to view the results other than JPEG with findings on map?"

[2017-03-10 00:57] andrewljohnson commented on #75
I think this should be fixed, but it's just a warning.

The more relevant error is #79

[2017-03-14 01:55] andrewjavao opened #80 "[Suggest] Can you develop new function that generates website content?"
Since deeposm.org site no longger exists, so can you provide codes that generates local website contents? So user can have a presentation of the results(findings, errors .etc) other than label files.

[2017-03-14 02:01] andrewjavao opened #81 "Clock in docker is wrong, so aws doesn't allow download"
This appears when I'm using mac and linux centos7 both, after i do 'make dev' and working container is successfully launched, the clock in container is far away from the local clock, and seems the offset is random, and i can't set clock inside container.
This may cause downloading failure when runing create_training_data.py in container.
And I'm in timezone +8.

[2017-03-14 02:03] andrewjavao commented on #81
I can fix the clock by adding '-v /etc/localtime:/etc/localtime ro' to docker run command, but in mac it seems no-use.

[2017-03-24 18:08] WillieMaddox opened #82 "Is web mercator transform correct?"
In geo_util.py, this line gives me the correct lat lon in web mercator.
[code]
But this last line (just before the return) seems to transform it back to lat lon in degrees:
[code]
which I believe is incorrect.  Am I missing something here?

[2017-05-26 16:26] lematt1991 commented on #82
I might suggest using the [geoio](https://github.com/DigitalGlobe/geoio) library.  It provides a `GeoImage` class with methods for performing these transformations `proj_to_raster` and `raster_to_proj`.  It automatically extracts the metadata from the GeoTIFF to figure out how to perform these transformations.

[2017-07-13 05:29] makman7 opened #83 "Simple offline prediction"
I searched out the code but couldn't find any simple function for prediction rather then pushing result to c3.

[2017-08-06 10:45] dakoller opened #84 "Training stops with 'NoneType' object has no attribute 'name'"
..any idea? or a hint, where I might get deeper information about it?

Kind regards,

Daniel

Training samples: 199
Validation samples: 23
--
Training Step: 899  | total loss: 0.23639
Training Step: 899  | total loss: 0.23639 acc: 0.9115 | val_loss: 0.29569 - val_| Momentum | epoch: 001 | loss: 0.23639 - acc: 0.9115 | val_loss: 0.29569 - val_acc: 0.8261 -- iter: 199/199
--
Training Step: 903  | to

[2017-08-15 16:51] spgriffin commented on #84
I'm experiencing the same issue.  Any suggestions or hints welcome.  Thanks. -Sean

Training samples: 226
Validation samples: 26
--
Training Step: 909  | total loss: 0.20365
| Momentum | epoch: 001 | loss: 0.20365 - acc: 0.9347 | val_loss: 0.09417 - val_acc: 0.9615 -- iter: 226/226
--
Training Step: 913  | total loss: 0.21830
| Momentum | epoch: 002 | loss: 0.21830 - acc: 0.9300 | val_loss: 0.1328

[2017-08-15 17:22] spgriffin commented on #84
This issue was discussed here initially, #75.  It was suggested that these are just error messages and that the real problem is here, #79.

[2018-01-24 07:33] abhi-kumar opened #85 "Pretrained models"
Are there any pretrained models available for deep OSM to test out before training it locally?

Regards,
Abhishek

[2018-06-22 00:31] #83 closed, assigned to nobody